.pessoas {
    background-color: rgb(120, 111, 245);
}

main > div {
    display: flex;
    justify-content: space-between;
}

main > div > div {
    display: flex;
    gap: 20px;
    align-items: center;
}

main > div > div > button {
    width: 100px;
    height: 40px;
    background-color: rgb(120, 111, 245);
    color: white;
    border: none;
    border-radius: 10px;
}

.btn-form button img {
    height: 20px;
}

.btn-sub {
    background-color: rgb(120, 111, 245);
    color: white;
}

.btn-res {
    background-color: white;
}

.multi-select-filtro {
    position: relative;
    width: 199px;
    height: 40px;
    border-radius: 10px;
}

.select-box-filtro {
    border: #2c3e504b solid 1px;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    background: white;
}

.options-filtro {
    display: none;

    position: absolute;
    width: 100%;

    border: 1px solid #ccc;
    background: white;

    max-height: 200px;
    overflow-y: auto;

    z-index: 10;
}

.options.active-filtro {
    display: block;
}

.option-item-filtro {
    padding: 8px;
}

.option-item-filtro:hover {
    background: #f0f0f0;
}

.option-label-filtro {
    display: flex;
    gap: 8px;
    cursor: pointer;
}

.modal-content-pessoa {
    width: 400px;
    min-height: 600px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.modal-filtros {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal-content-filtros {
    width: 400px;
    min-height: 600px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}