.pessoas {
    background-color: rgb(120, 111, 245);
}

.modal-content-pessoa {
    width: 400px;
    height: 600px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}